footer {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
    background-color: $footerBackgroundColor;
}

// footer
// Lato, Regular, 20px
// Center, Line height: 32px