* {
    // border: 1px solid red;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 125%;
    color: $primaryFontColor;
}

.wrapper {
    margin: 0 10%;
}


h1 {
    font-family: 'Pompiere', cursive;
    font-size: 5.5rem;
    line-height: 3.2rem;
    color: $highlightColor;
    margin: 0;
}

// Heading (Find something new)
// Pompiere, Regular, 110px
// Line height: 64px

h1::first-letter {
    text-transform: capitalize;
}

h2 {
    font-family: 'Pompiere', cursive;
    font-size: 3.2rem;
    line-height: 64px;
    color: $highlightColor;
    margin: 0;
    text-transform: uppercase;
}

// Headings ( Get in touch, Blog)
// Pompiere, Regular, 80px
// Line height: 92px

h3 {
    font-family: 'Pompiere', cursive;
    font-size: 2.6rem;
    margin: 0;
    text-transform: uppercase;
}

.headingThreeTypeOne {
    letter-spacing: 1.6px;
}

// Headings (Locat..,Commu..,Blog, Get in..)
// Pompiere, Regular, 52px
// Letter spacing: 1.6px



.headingThreeTypeTwo {
    color: $highlightColor;
    letter-spacing: 1.2px;
    text-align: center;
}

// Headings (What is under.., This month...)
// Pompiere, Regular, 52px
// Center, Letter spacing: 1.2px



.headingThreeTypeThree {
    color: $highlightColor;
    letter-spacing: 1.2px;
}

// headings (Popular..,Shoes arou..,)
// Pompiere, Regular, 52px
// Letter spacing: 1.2px



h4 {
    font-family: 'Pompiere', cursive;
    font-size: 2.1rem;
    letter-spacing: 1.3px;
    margin: 0;
    text-transform: uppercase;
}

// Headings (New additio...,Meet real
// Pompiere, Regular, 42px
// Letter spacing: 1.3px



.logo {
    font-family: 'Pompiere', cursive;
    font-size: 1.79rem;
    line-height: 1.8rem;
    letter-spacing: 1.1px;
    margin: 0;
    text-transform: capitalize;
    width: 65px;
    height: 65px;
}

// Logo
// Pompiere, Regular, 35.8px
// Line height: 36px, Letter spacing: 1.1px



h5 {
    font-family: 'Pompiere', cursive;
    font-size: 1.5rem;
    letter-spacing: 1.3px;
    color: $highlightColor;
    margin: 0;
    text-transform: uppercase;
}

// Headings (Any weather, Recent posts)
// Pompiere, Regular, 30px
// Letter spacing: 1.3px



button {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 5px 10px;
}

// Buttons
// Lato, Regular, 20px
// Center, Line height: 32px, Letter spacing: 1px

p {
    margin: 0;
    line-height: 1.8rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    height: $heroHeights;
    padding-top: 1%;
    position: relative;
}

a:visited {
    color: $highlightColor;
}