// begin index.html styling---------------------------
header.headerIndex {
    @include backgroundImages(header-image, jpg);
    height: $heroHeights;
    padding-top: 1%;
}

// end index.html styling------------------------------



// begin blog.html styling-----------------------------
header.headerBlog {
    @include backgroundImages(blog-header, jpg);
    height: $heroHeights;
}
// end blog.html styling-------------------------------



// begin contact.html styling--------------------------
header.headerContact {
    @include backgroundImages(contact-image, jpg);
    height: $heroHeights;
}
// end contact.html styling----------------------------