// begin index.html styling---------------------------
header.headerIndex {
    @include backgroundImages(header-image, jpg);
}

.headerIndex h1 {
    padding-top: 20vh;
    width: 25%;
}

// end index.html styling------------------------------



// begin blog.html styling-----------------------------
header.headerBlog {
    @include backgroundImages(blog-header, jpg);
}

.headerBlog {
    position: relative;
}

.headerBlog h2 {
    display: inline-block;
    top: 45%;
    left: 35%;
    position: absolute;
}
// end blog.html styling-------------------------------



// begin contact.html styling--------------------------
header.headerContact {
    @include backgroundImages(contact-image, jpg);
}

.headerContact {
    position: relative;
}

.headerContact h2 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 38%;
}
// end contact.html styling----------------------------