body {
    background: palegoldenrod
}

// begin index.html styling-------------------------




// end index.html styling---------------------------

// begin blog.html styling---------------------------
.blogPostImage {
    background: url(../assets/blog-post-image.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
}

.blogCommentOneImage {
    background: url(../assets/comment-1.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
}

.blogCommentTwoImage {
    background: url(../assets/comment-2.jpg);
    background-size: cover;
    height:100px;
    width: 100px;
}



// end blog.html styling-----------------------------

// begin contact.html styling------------------------





// end contact.html styling---------------------------

