nav {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.45rem;
    letter-spacing: 1px;
    text-align: center;
    width: 35%;
}

.flexContainerNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;

}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: $highlightColor;
    color: #fff;
}