@mixin backgroundImages($imageName, $imageType) {
    $imageURL:"../assets/#{$imageName}.#{$imageType}";
    background: url($imageURL);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



$primaryBackgroundColor: #FAE5FF;
$footerBackgroundColor: #882C07;
$primaryFontColor:#0D0D0D;
$highlightColor: #4C0341;
$shadowBoxColor: #FE6F19;

$heroHeights: 90vh;
