@mixin headerBackground($imageName) {
    $imageURL:"../assets/#{$imageName}.jpg";
    background: url($imageURL);
    background-size: cover;
    height: 60vh;
}

$primaryBackgroundColor: #FAE5FF;
$footerBackgroundColor: #882C07;
$primaryFontColor:#0D0D0D;
$highlightColor: #4C0341;
$shadowBoxColor: #FE6F19;
