html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
  color: #0D0D0D;
}

.wrapper {
  margin: 0 10%;
}

h1 {
  font-family: 'Pompiere', cursive;
  font-size: 5.5rem;
  line-height: 3.2rem;
  color: #4C0341;
  margin: 0;
  padding-top: 10vh;
  width: 26%;
}

h1::first-letter {
  text-transform: capitalize;
}

h2 {
  font-family: 'Pompiere', cursive;
  font-size: 3.2rem;
  line-height: 64px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: 'Pompiere', cursive;
  font-size: 2.6rem;
  margin: 0;
  text-transform: uppercase;
}

.headingThreeTypeOne {
  letter-spacing: 1.6px;
}

.headingThreeTypeTwo {
  color: #4C0341;
  letter-spacing: 1.2px;
  text-align: center;
}

.headingThreeTypeThree {
  color: #4C0341;
  letter-spacing: 1.2px;
}

h4 {
  font-family: 'Pompiere', cursive;
  font-size: 2.1rem;
  letter-spacing: 1.3px;
  margin: 0;
  text-transform: uppercase;
}

.logo {
  font-family: 'Pompiere', cursive;
  font-size: 1.79rem;
  line-height: 1.8rem;
  letter-spacing: 1.1px;
  margin: 0;
  text-transform: capitalize;
  width: 65px;
  height: 65px;
}

h5 {
  font-family: 'Pompiere', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 5px;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  height: 90vh;
  padding-top: 1%;
}

a:visited {
  color: #4C0341;
}

header.headerIndex {
  background: url("../assets/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header.headerBlog {
  background: url("../assets/blog-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headerBlog {
  position: relative;
}

.headerBlog h2 {
  display: inline-block;
  top: 35%;
  left: 35%;
  position: absolute;
}

header.headerContact {
  background: url("../assets/contact-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headerContact {
  position: relative;
}

.headerContact h2 {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 38%;
}

nav {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 1px;
  text-align: center;
}

.flexContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #4C0341;
  color: #fff;
}

.aboutSection, .midNavSection {
  background-color: #FAE5FF;
}

.aboutSection {
  position: relative;
  text-align: center;
  padding: 10vh 0;
}

.aboutImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  margin-left: 50%;
  margin-top: -40%;
}

.aboutSection h3 {
  color: #4C0341;
}

.aboutSection p {
  margin: 25px 0;
}

.aboutSection button {
  background-color: #4C0341;
  border: none;
}

.latestProductSection, .popularProductsSection {
  background-color: #FFF;
}

.latestProductSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 80vh;
}

.latestProductSection p {
  margin: 25px 0;
}

.latestProductSection button {
  background-color: #882C07;
}

.latestProductOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50%;
}

.latestProductImage {
  width: calc(50% - 75px);
  height: 100%;
  position: relative;
}

.latestProductOneImage {
  background: url("../assets/left-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 25px 25px #FE6F19;
          box-shadow: 25px 25px #FE6F19;
  margin-left: 25px;
  top: -25px;
  left: -25px;
}

.latestProductOneContent {
  width: calc(50% + 75px);
  height: 100%;
  padding: 50px 75px;
}

.latestProductTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 50%;
  width: 100%;
}

.latestProductTwoImage {
  background: url("../assets/right-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: -25px 25px #FE6F19;
          box-shadow: -25px 25px #FE6F19;
  margin-right: 25px;
  top: -25px;
  right: -25px;
}

.latestProductTwoContent {
  width: calc(50% + 75px);
  height: 100%;
  padding: 50px 75px;
  text-align: right;
}

.midNavSection {
  height: 80vh;
}

.flexContainerMidNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 50px 0;
}

.midNavSection .flexContainerMidNavElements {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.midNavIcon {
  text-align: center;
}

.midNavSection i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 30%;
  color: #fff;
  background: #4C0341;
}

.flexContainerMidNavContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.midNavImage {
  background: url("../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.popularProductsSection {
  padding: 100px 0;
}

.flexContainerPopularProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.popularProductsContentImage {
  background: url("../assets/square-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% / 3);
  height: 350px;
  -webkit-box-shadow: 25px 25px #FE6F19;
          box-shadow: 25px 25px #FE6F19;
  margin-left: 25px;
  position: relative;
  top: -25px;
  left: -25px;
}

.popularProductsContent {
  width: calc((100% / 3) * 2);
  margin: auto 0;
}

.popularProductsContent p {
  padding: 25px 0;
}

.popularProductsContent ul {
  list-style-type: none;
  margin: 0;
}

.popularProductsSection button {
  background-color: #882C07;
}

.gallerySection {
  background-color: #FAE5FF;
  padding: 100px 0;
}

.flexContainerGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.galleryImage {
  width: calc((100% / 3) - (20px / 3));
  height: 50vh;
}

.galleryImage1 {
  background: url("../assets/gallery-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.galleryImage2 {
  background: url("../assets/gallery-image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 10px;
}

.galleryImage3 {
  background: url("../assets/gallery-image-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.blogPost {
  width: calc((100% / 3) * 2);
  margin-top: -15%;
  z-index: 10;
}

.blogPostImage {
  -webkit-box-shadow: -25px 25px #FE6F19;
          box-shadow: -25px 25px #FE6F19;
  margin-left: 25px;
}

.blogPostImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.blogPostContent {
  background-color: #fff;
  margin: 75px 10% 50px 5%;
}

article h3 {
  margin-bottom: 12.5px;
}

.postDate {
  font-weight: 700;
  text-transform: capitalize;
}

.postDate span {
  text-transform: none;
}

article p:not(.postDate) {
  margin: 25px 0;
}

.blogComments {
  background-color: #FAE5FF;
  padding: 50px 0 100px;
}

.blogComments h3 {
  margin-left: 5%;
}

.blogCommentsContent {
  padding-bottom: 50px;
}

.blogCommentContent li:nth-of-type(1) {
  font-weight: 700;
  text-transform: capitalize;
}

.blogCommentContent li:nth-of-type(2) {
  margin: 12.5px 0;
}

.blogCommentOne, .blogCommentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 25px 0;
}

.blogCommentOneImage {
  background: url("../assets/comment-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}

.blogCommentOneContent, .blogCommentTwoContent {
  width: 90%;
}

.blogCommentTwoImage {
  background: url("../assets/comment-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5%;
  margin-right: 10%;
}

.blogComments label {
  display: none;
}

.blogComments input {
  background-color: #FAE5FF;
}

input[type="text"], input[type="email"] {
  width: calc(50% - 12.5px);
  padding: 25px;
  border: none;
  border-bottom: 1px solid #FE6F19;
}

input::-webkit-input-placeholder {
  text-transform: capitalize;
}

input:-ms-input-placeholder {
  text-transform: capitalize;
}

input::-ms-input-placeholder {
  text-transform: capitalize;
}

input::placeholder {
  text-transform: capitalize;
}

textarea {
  width: 100%;
  height: 150px;
  margin: 25px 0;
  padding: 25px;
  border: 1px solid #FE6F19;
  background-color: #FAE5FF;
  resize: none;
}

textarea::-webkit-input-placeholder {
  text-transform: capitalize;
}

textarea:-ms-input-placeholder {
  text-transform: capitalize;
}

textarea::-ms-input-placeholder {
  text-transform: capitalize;
}

textarea::placeholder {
  text-transform: capitalize;
}

.blogComments button {
  background-color: #4C0341;
  width: 100%;
}

aside {
  width: calc(100% / 3);
  background-color: #FAE5FF;
}

.asideImage {
  height: 300px;
  width: 90%;
  -webkit-box-shadow: 12.5px 0px #fff;
          box-shadow: 12.5px 0px #fff;
  margin-top: 75px;
}

.asideImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.asideContent {
  background-color: #fff;
  margin-left: 33.3%;
  margin-right: calc(10% - 12.5px);
  padding: 12.5px 12.5px 0px 0px;
}

.asideContent div {
  padding: 12.5px;
}

aside ul {
  list-style-type: disc;
}

.contactMain {
  background-color: #FAE5FF;
  padding: 100px 0;
}

.flexContainerContactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.contactForm {
  width: calc((100% / 3) * 2);
  background-color: #FAE5FF;
  margin-top: -20%;
  margin-left: 25px;
  z-index: 10;
}

.contactInfo {
  width: calc(100% / 3);
}

.contactForm form {
  margin: 0;
  padding: 5%;
  -webkit-box-shadow: -25px 25px #FE6F19;
          box-shadow: -25px 25px #FE6F19;
  background-color: #fff;
}

.contactForm label {
  display: none;
}

.contactForm textarea {
  background-color: #fff;
}

.contactForm button {
  width: 100%;
  background-color: #882C07;
}

.listItemEmail {
  padding: 12.5px 0;
}

.contactEmail {
  font-family: 'Pompiere', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-bottom: 5px;
}

.socialLinks a {
  width: 25%;
  margin-right: 25px;
  color: #4C0341;
}

.contactInfoDetails {
  text-transform: capitalize;
}

.contactInfoDetails li {
  padding-bottom: 5px;
}

.contactInfoDetails li:nth-of-type(4) {
  text-transform: uppercase;
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: #882C07;
  color: #fff;
  text-transform: capitalize;
}
