html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
  color: #0D0D0D;
}

.wrapper {
  margin: 0 10%;
}

h1 {
  font-family: 'Pompiere', cursive;
  font-size: 5.5rem;
  line-height: 3.2rem;
  color: #4C0341;
  margin: 0;
}

h1::first-letter {
  text-transform: capitalize;
}

h2 {
  font-family: 'Pompiere', cursive;
  font-size: 3.2rem;
  line-height: 64px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: 'Pompiere', cursive;
  font-size: 2.6rem;
  margin: 0;
  text-transform: uppercase;
}

.headingThreeTypeOne {
  letter-spacing: 1.6px;
}

.headingThreeTypeTwo {
  color: #4C0341;
  letter-spacing: 1.2px;
  text-align: center;
}

.headingThreeTypeThree {
  color: #4C0341;
  letter-spacing: 1.2px;
}

h4 {
  font-family: 'Pompiere', cursive;
  font-size: 2.1rem;
  letter-spacing: 1.3px;
  margin: 0;
  text-transform: uppercase;
}

.logo {
  font-family: 'Pompiere', cursive;
  font-size: 1.79rem;
  line-height: 1.8rem;
  letter-spacing: 1.1px;
  margin: 0;
  text-transform: capitalize;
  width: 65px;
  height: 65px;
}

h5 {
  font-family: 'Pompiere', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: none;
  padding: 5px 10px;
}

p {
  margin: 0;
  line-height: 1.8rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  height: 90vh;
  padding-top: 1%;
  position: relative;
}

a:visited {
  color: #4C0341;
}

header.headerIndex {
  background: url("../assets/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1300px) {
  header.headerIndex {
    height: 80vh;
  }
}

@media (max-width: 1020px) {
  header.headerIndex {
    height: 70vh;
    background-position: 10% 50%;
  }
}

.headerIndex h1 {
  padding-top: 20vh;
  width: 25%;
}

@media (max-width: 820px) {
  .headerIndex h1 {
    padding-top: 15vh;
  }
}

header.headerBlog {
  background: url("../assets/blog-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1300px) {
  header.headerBlog {
    height: 80vh;
  }
}

@media (max-width: 1020px) {
  header.headerBlog {
    height: 70vh;
    background-position: 20% 50%;
  }
}

@media (max-width: 940px) {
  header.headerBlog {
    height: 65vh;
    background-position: 25% 50%;
  }
}

@media (max-width: 820px) {
  header.headerBlog {
    background-position: 50% 50%;
  }
}

@media (max-width: 680px) {
  header.headerBlog {
    height: 60vh;
  }
}

.headerBlog {
  position: relative;
}

.headerBlog h2 {
  display: inline-block;
  top: 45%;
  left: 35%;
  position: absolute;
}

header.headerContact {
  background: url("../assets/contact-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1450px) {
  header.headerContact {
    height: 80vh;
    background-position: 5% 50%;
  }
}

@media (max-width: 1020px) {
  header.headerContact {
    height: 70vh;
    background-position: 10% 50%;
  }
}

.headerContact {
  position: relative;
}

.headerContact h2 {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 38%;
}

@media (max-width: 550px) {
  .headerContact h2 {
    left: 49%;
  }
}

@media (max-width: 375px) {
  .headerContact h2 {
    top: 60%;
  }
}

nav {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 1px;
  text-align: center;
  width: 35%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1040px) {
  nav {
    position: absolute;
    top: -230px;
    right: 0;
    width: 15%;
  }
}

.flexContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1040px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: rgba(255, 255, 255, 0.2);
    height: 225px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 10px;
  }
}

@media (max-width: 1040px) {
  nav li {
    margin-top: 10px;
  }
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 1040px) {
  nav a {
    color: #fff;
  }
}

nav a:hover {
  background-color: #4C0341;
  color: #fff;
}

.fa-bars {
  font-size: 4rem;
  color: #fff;
}

.fa-times {
  font-size: 4rem;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}

label[icon-type="bars"] {
  display: none;
  position: absolute;
  z-index: 20;
  top: 15px;
  right: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1040px) {
  label[icon-type="bars"] {
    display: block;
  }
}

input[type="checkbox"]:checked + nav {
  top: 0;
  z-index: 10;
}

@media (max-width: 1040px) {
  input[type="checkbox"]:checked + nav {
    position: fixed;
  }
}

label[icon-type="times"] {
  display: none;
  position: absolute;
  z-index: 20;
  top: 15px;
  right: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1040px) {
  label[icon-type="times"] {
    display: block;
  }
}

input[type="checkbox"]:checked ~ label[icon-type="bars"] {
  -webkit-transform: scale(0);
          transform: scale(0);
}

input[type="checkbox"] ~ label[icon-type="times"] {
  -webkit-transform: scale(0);
          transform: scale(0);
  display: block;
  position: fixed;
}

input[type="checkbox"]:checked ~ label[icon-type="times"] {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.aboutSection, .midNavSection {
  background-color: #FAE5FF;
}

.aboutSection {
  position: relative;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 175px;
}

@media (max-width: 820px) {
  .aboutSection {
    padding-top: 25px;
  }
}

.aboutImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  margin-left: 50%;
  margin-top: -40%;
}

@media (max-width: 1300px) {
  .aboutImage img {
    margin-top: -50%;
  }
}

@media (max-width: 820px) {
  .aboutImage img {
    margin-top: 0;
  }
}

.aboutSection h3 {
  color: #4C0341;
}

.aboutSection p {
  margin: 25px 0;
}

.aboutSection button {
  background-color: #4C0341;
  border: none;
}

.latestProductSection, .popularProductsSection {
  background-color: #FFF;
}

.latestProductSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 80vh;
}

@media (max-width: 930px) {
  .latestProductSection {
    height: auto;
  }
}

.latestProductSection p {
  margin: 15px 0;
}

.latestProductSection button {
  background-color: #882C07;
}

.latestProductOne, .latestProductTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
}

@media (max-width: 930px) {
  .latestProductOne, .latestProductTwo {
    height: auto;
    margin: 25px auto;
  }
}

.latestProductOneContent, .latestProductTwoContent {
  width: calc(50% + 75px);
  height: 100%;
  padding: 50px 150px;
}

@media (max-width: 1330px) {
  .latestProductOneContent, .latestProductTwoContent {
    padding: 25px 100px;
  }
}

@media (max-width: 1130px) {
  .latestProductOneContent, .latestProductTwoContent {
    padding: 25px 50px;
  }
}

@media (max-width: 930px) {
  .latestProductOneContent, .latestProductTwoContent {
    padding: 0 25px;
    margin: 0 auto;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .latestProductOneContent, .latestProductTwoContent {
    width: 75%;
  }
}

@media (max-width: 680px) {
  .latestProductOneContent, .latestProductTwoContent {
    width: 100%;
  }
}

@media (max-width: 1330px) {
  .latestProductOneContent ul, .latestProductTwoContent ul {
    margin: revert;
  }
}

@media (max-width: 930px) {
  .latestProductOneContent ul {
    -webkit-box-shadow: -25px 0px #FE6F19, -25px 25px #FE6F19;
            box-shadow: -25px 0px #FE6F19, -25px 25px #FE6F19;
    padding: 5px;
  }
}

@media (max-width: 930px) {
  .latestProductTwoContent ul {
    -webkit-box-shadow: 25px 0px #FE6F19, 25px 25px #FE6F19;
            box-shadow: 25px 0px #FE6F19, 25px 25px #FE6F19;
    padding: 5px;
  }
}

.latestProductImage {
  width: calc(50% - 75px);
  height: 100%;
  position: relative;
}

@media (max-width: 930px) {
  .latestProductImage {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .latestProductImage {
    width: 75%;
  }
}

@media (max-width: 680px) {
  .latestProductImage {
    width: 100%;
  }
}

.latestProductOne {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 930px) {
  .latestProductOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.latestProductOneImage {
  -webkit-box-shadow: 25px 25px #FE6F19;
          box-shadow: 25px 25px #FE6F19;
  margin-left: 25px;
  top: -25px;
  left: -25px;
}

@media (max-width: 930px) {
  .latestProductOneImage {
    top: 0;
    margin: 0 auto;
  }
}

.latestProductImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.latestProductTwo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 930px) {
  .latestProductTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.latestProductTwoImage {
  -webkit-box-shadow: -25px 25px #FE6F19;
          box-shadow: -25px 25px #FE6F19;
  margin-right: 25px;
  top: 25px;
  right: -25px;
}

@media (max-width: 930px) {
  .latestProductTwoImage {
    margin: 0 auto;
    top: 0;
  }
}

.latestProductTwoContent {
  text-align: right;
}

.midNavSection {
  height: 100vh;
}

@media (max-width: 980px) {
  .midNavSection {
    height: auto;
  }
}

.flexContainerMidNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 100px 0;
}

@media (max-width: 980px) {
  .flexContainerMidNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
}

.midNavSection .flexContainerMidNavElements {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 25px;
}

@media (max-width: 980px) {
  .midNavSection .flexContainerMidNavElements {
    margin: 0 auto 25px;
    width: 100%;
  }
}

.midNavIcon {
  text-align: center;
  margin-right: 12.5px;
}

.midNavSection i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 30%;
  color: #fff;
  background: #4C0341;
}

.flexContainerMidNavContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.midNavImage {
  background: url("../assets/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 100%;
}

@media (max-width: 1280px) {
  .midNavImage {
    height: 40vh;
  }
}

@media (max-width: 900px) {
  .midNavImage {
    height: 35vh;
  }
}

.popularProductsSection {
  padding: 100px 0;
}

.flexContainerPopularProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (max-width: 1080px) {
  .flexContainerPopularProducts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    text-align: center;
  }
}

.popularProductsContentImage {
  width: calc(100% / 3);
}

@media (max-width: 1080px) {
  .popularProductsContentImage {
    margin: 0 auto;
  }
}

.popularProductsContentImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: 100%;
  -webkit-box-shadow: 25px 25px #FE6F19;
          box-shadow: 25px 25px #FE6F19;
}

@media (max-width: 1430px) {
  .popularProductsContentImage img {
    height: 90%;
  }
}

@media (max-width: 1300px) {
  .popularProductsContentImage img {
    height: 80%;
  }
}

@media (max-width: 1175px) {
  .popularProductsContentImage img {
    height: 60%;
  }
}

@media (max-width: 1080px) {
  .popularProductsContentImage img {
    width: 100%;
  }
}

.popularProductsContent {
  width: calc((100% / 3) * 2);
  margin: auto 0;
}

@media (max-width: 1080px) {
  .popularProductsContent {
    margin: 0 auto;
    margin-top: 50px;
  }
}

.popularProductsContent p {
  padding: 25px 0;
}

.popularProductsContent ul {
  list-style-type: none;
  margin: 0;
}

.popularProductsSection button {
  background-color: #882C07;
}

.gallerySection {
  background-color: #FAE5FF;
  padding: 100px 0;
}

.flexContainerGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.galleryImage {
  width: calc((100% / 3) - (20px / 3));
}

@media (max-width: 920px) {
  .galleryImage {
    width: calc(50% - 10px);
  }
}

.galleryImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 920px) {
  .galleryImage3 {
    display: none;
  }
}

.blogMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

@media (max-width: 910px) {
  .blogMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.blogWrapper {
  margin-left: 5%;
  margin-right: 10%;
}

.blogPost {
  width: calc((100% / 3) * 2);
  margin-top: -20%;
  z-index: 10;
}

@media (max-width: 910px) {
  .blogPost {
    width: 100%;
  }
}

.blogPostImage {
  -webkit-box-shadow: -25px 25px #FE6F19;
          box-shadow: -25px 25px #FE6F19;
  margin-left: 25px;
}

.blogPostImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.blogPostContent {
  background-color: #fff;
  margin: 75px 10% 50px 5%;
}

article h3 {
  margin-bottom: 12.5px;
}

.postDate {
  font-weight: 700;
  text-transform: capitalize;
}

.postDate span {
  text-transform: none;
}

article p:not(.postDate) {
  margin: 25px 0;
}

.blogComments {
  background-color: #FAE5FF;
  padding: 50px 0 100px;
}

.blogComments h3 {
  margin-left: 2.5%;
}

.blogCommentsContent {
  padding-bottom: 50px;
}

.blogCommentContent li:nth-of-type(1) {
  font-weight: 700;
  text-transform: capitalize;
}

.blogCommentContent li:nth-of-type(2) {
  margin: 12.5px 0;
}

.blogCommentOne, .blogCommentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 25px 0;
}

.blogCommentImage {
  margin-right: 20px;
}

.blogCommentOneImage {
  background: url("../assets/comment-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}

.blogCommentOneContent, .blogCommentTwoContent {
  width: 90%;
}

.blogCommentTwoImage {
  background: url("../assets/comment-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogComments label {
  display: none;
}

.blogComments input {
  background-color: #FAE5FF;
}

input[type="text"], input[type="email"] {
  width: calc(50% - 12.5px);
  padding: 25px;
  border: none;
  border-bottom: 1px solid #FE6F19;
}

@media (max-width: 640px) {
  input[type="text"], input[type="email"] {
    width: 100%;
  }
}

input::-webkit-input-placeholder {
  text-transform: capitalize;
}

input:-ms-input-placeholder {
  text-transform: capitalize;
}

input::-ms-input-placeholder {
  text-transform: capitalize;
}

input::placeholder {
  text-transform: capitalize;
}

textarea {
  width: 100%;
  height: 150px;
  margin: 25px 0;
  padding: 25px;
  border: 1px solid #FE6F19;
  background-color: #FAE5FF;
  resize: none;
}

textarea::-webkit-input-placeholder {
  text-transform: capitalize;
}

textarea:-ms-input-placeholder {
  text-transform: capitalize;
}

textarea::-ms-input-placeholder {
  text-transform: capitalize;
}

textarea::placeholder {
  text-transform: capitalize;
}

.blogComments button {
  background-color: #4C0341;
  width: 100%;
}

aside {
  width: calc(100% / 3);
  background-color: #FAE5FF;
  position: relative;
}

@media (max-width: 910px) {
  aside {
    width: 100%;
  }
}

.asideImage {
  width: 90%;
  position: absolute;
  top: 65px;
}

@media (max-width: 910px) {
  .asideImage {
    width: 100%;
    position: relative;
    top: 0;
  }
}

.asideImage img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 910px) {
  .asideImage img {
    margin: 0 auto;
    width: auto;
  }
}

.asideContent {
  background-color: #fff;
  margin-left: 33.3%;
  margin-right: calc(10% - 12.5px);
  padding: 12.5px 12.5px 0px 0px;
  height: 700px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1275px) {
  .asideContent {
    margin-left: 30%;
  }
}

@media (max-width: 1205px) {
  .asideContent {
    margin-left: 25%;
  }
}

@media (max-width: 1120px) {
  .asideContent {
    margin-left: 20%;
  }
}

@media (max-width: 910px) {
  .asideContent {
    margin: 0;
    height: auto;
    text-align: center;
  }
}

.asideContent div {
  padding: 12.5px;
}

@media (max-width: 1120px) {
  .asideContent p {
    display: inline-block;
  }
}

aside ul {
  list-style-type: disc;
  margin-left: 20px;
}

.contactMain {
  background-color: #FAE5FF;
  padding: 100px 0;
}

.flexContainerContactMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

@media (max-width: 1150px) {
  .flexContainerContactMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.contactForm {
  width: calc((100% / 3) * 2);
  background-color: #FAE5FF;
  margin-top: -30%;
  margin-left: 25px;
  z-index: 10;
}

@media (max-width: 1300px) {
  .contactForm {
    margin-top: -35%;
  }
}

@media (max-width: 1150px) {
  .contactForm {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .contactForm {
    margin-top: -40%;
  }
}

@media (max-width: 685px) {
  .contactForm {
    margin-top: -45%;
  }
}

@media (max-width: 550px) {
  .contactForm {
    margin-top: -65%;
  }
}

.contactInfo {
  width: calc(100% / 3);
}

@media (max-width: 1150px) {
  .contactInfo {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
}

.contactForm form {
  margin: 0;
  padding: 5%;
  -webkit-box-shadow: -25px 25px #FE6F19;
          box-shadow: -25px 25px #FE6F19;
  background-color: #fff;
}

.contactForm label {
  display: none;
}

.contactForm textarea {
  background-color: #fff;
  height: 300px;
}

.contactForm button {
  width: 100%;
  background-color: #882C07;
}

.listItemEmail {
  padding: 12.5px 0;
}

.contactEmail {
  font-family: 'Pompiere', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-bottom: 5px;
}

@media (max-width: 1150px) {
  .socialLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socialLinks a {
  width: 25%;
  margin-right: 25px;
  color: #4C0341;
}

@media (max-width: 1150px) {
  .socialLinks a {
    margin: 25px;
  }
}

.contactInfoDetails {
  text-transform: capitalize;
}

.contactInfoDetails li {
  padding-bottom: 5px;
}

.contactInfoDetails li:nth-of-type(4) {
  text-transform: uppercase;
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: #882C07;
  color: #fff;
  text-transform: capitalize;
}
