html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

* {
  border: 1px solid red;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
  color: #0D0D0D;
}

.wrapper {
  margin: 0 10%;
}

h1 {
  font-family: 'Pompiere', cursive;
  font-size: 5.5rem;
  line-height: 3.2rem;
  color: #4C0341;
  margin: 0;
  padding-top: 10vh;
  width: 26%;
}

h1::first-letter {
  text-transform: capitalize;
}

h2 {
  font-family: 'Pompiere', cursive;
  font-size: 3.2rem;
  line-height: 64px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-family: 'Pompiere', cursive;
  font-size: 2.6rem;
  margin: 0;
  text-transform: uppercase;
}

.headingThreeTypeOne {
  letter-spacing: 1.6px;
}

.headingThreeTypeTwo {
  color: #4C0341;
  letter-spacing: 1.2px;
  text-align: center;
}

.headingThreeTypeThree {
  color: #4C0341;
  letter-spacing: 1.2px;
}

h4 {
  font-family: 'Pompiere', cursive;
  font-size: 2.1rem;
  letter-spacing: 1.3px;
  margin: 0;
  text-transform: uppercase;
}

.logo {
  font-family: 'Pompiere', cursive;
  font-size: 1.79rem;
  line-height: 1.8rem;
  letter-spacing: 1.1px;
  margin: 0;
  text-transform: capitalize;
  width: 65px;
  height: 65px;
}

h5 {
  font-family: 'Pompiere', cursive;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: #4C0341;
  margin: 0;
  text-transform: uppercase;
}

button {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

p {
  margin: 0;
}

header.headerIndex {
  background: url("../assets/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  padding-top: 1%;
}

header.headerBlog {
  background: url("../assets/blog-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

header.headerContact {
  background: url("../assets/contact-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

nav {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 1px;
  text-align: center;
}

.flexContainerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav a {
  text-transform: capitalize;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #4C0341;
  color: #fff;
}

.aboutSection, .midNavSection {
  background-color: #FAE5FF;
}

.aboutSection {
  position: relative;
  text-align: center;
  padding: 15vh 0;
}

.aboutImage {
  background: url("../assets/home-box-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
  width: 65vh;
  position: absolute;
  top: -375px;
  right: 0;
}

.aboutSection h3 {
  color: #4C0341;
}

.aboutSection button {
  background-color: #4C0341;
  border: none;
}

.latestProductSection, .popularProductsSection {
  background-color: #FFF;
}

.latestProductSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 15vh;
}

.latestProductOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.latestProductImage {
  width: 50%;
  height: 100%;
}

.latestProductOneImage {
  background: url("../assets/left-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.latestProductOneContent {
  width: 50%;
  height: 50%;
}

.latestProductTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.latestProductTwoImage {
  background: url("../assets/right-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.latestProductTwoContent {
  width: 50%;
}

.blogPostImage {
  background: url(../assets/blog-post-image.jpg);
  background-size: cover;
  height: 300px;
  width: 300px;
}

.blogCommentOneImage {
  background: url(../assets/comment-1.jpg);
  background-size: cover;
  height: 100px;
  width: 100px;
}

.blogCommentTwoImage {
  background: url(../assets/comment-2.jpg);
  background-size: cover;
  height: 100px;
  width: 100px;
}

footer {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  background-color: #882C07;
}
